@use "~/assets/scss/main.scss" as vars;
@import url('https://fonts.googleapis.com/css2?family=Anton&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: vars.$color-white;
  color: vars.$color-black;
  font-family: vars.$font-serif;
}

h1, h2, h3, h4, .font-anton {
  font-family: vars.$font-sans;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}
